@import "./variables";
html,
body {
  color: $primary-text-color;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  font-weight: $primary-font-weight;
  font-family: $primary-font;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

p {
  margin: 0;
  color: $primary-text-color;
  font-size: $primary-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  font-family: $primary-font;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  font-family: $primary-font;
}

h2 {
  font-size: 45px;
  line-height: 58px;
  font-weight: 700;
  font-family: $primary-font;
}

h3 {
  font-size: 25px;
  line-height: 36px;
  font-weight: 700;
  font-family: $primary-font;
}

h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-family: $primary-font;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: $primary-font;
}

h6 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: $primary-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  outline: none !important;
  font-family: $primary-font;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  font-family: $primary-font;
}

.hidden {
  overflow: hidden;
}
.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}
input:focus {
  outline: 0;
  box-shadow: none;
  background: none;
}
textarea:focus {
  border: 1px solid transparent !important;
  box-shadow: none;
  border-radius: 0 !important;
  outline-color: #345995 !important;
}

blockquote {
  padding: 25px 35px;
  margin-left: 30px;
  background: #f5f5f5;
  margin: 30px 0 30px 30px;
  -webkit-box-shadow: -5px 0 #232323;
  -ms-box-shadow: -5px 0 #232323;
  box-shadow: -5px 0 #232323;
}

blockquote p:last-child {
  font-weight: 600;
  margin-bottom: 0;
}
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}
input:disabled {
  background: #cccccc70 !important;
}
input {
  ::placeholder {
    color: #666;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type="submit"] {
  cursor: pointer;
  background: #e62d26;
}
input[type="submit"]:focus {
  background: #e62d26;
  outline: none;
}
.mt-20 {
  margin-top: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.no-padding {
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.white-bg {
  background-color: $white-bg;
}
.section-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.section-bg {
  background: $sectionBg;
}
.black-bg {
  background-color: $black-bg;
}
.section-padding {
  padding: 60px 0;
}
.section-padding-top {
  padding-top: 60px;
}
.section-padding-bottom {
  padding-bottom: 50px;
}
.row--aligned [class*="col-"] {
  display: flex;
}
.mb-100-percent {
  padding-bottom: 100%;
}
button[disabled] {
  cursor: no-drop;
  background: #e6d0d03b;
}

input:-internal-autofill-selected {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
}
input:-webkit-autofill {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
}
.section-title {
  h2 {
    margin-bottom: 20px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
  }
  span {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
  }
}
.submit-btn {
  border: none;
  background-color: #345995;
  color: #fff;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
